.center-text {
  text-align: center;
}

.semi-middle {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-10%, -10%);
  font-size: 2rem;
}

.semi-middle2 {
  position: absolute;
  top: 50%;
  left: 7%; 
  transform: translate(-10%, -10%);
  font-size: 16px;
}

.image {
  position: absolute;
  top: 35%;
  left: 5.5%; 
  transform: translate(-10%, -10%);
}

.middle {
  position: absolute;
  top: 35%;
  left: 40%; 
  transform: translate(-10%, -10%);
}

.middle2 {
  position: absolute;
  top: 50%;
  left: 40%; 
  transform: translate(-10%, -10%);
  font-size: 16px;
}

.camp {
  position: absolute;
  top: 30%;
  left: 525px; 
  transform: translate(-10%, -10%);
}

